*.brf
*.lof
*.lot
*.def
*.pred
*.maf
*.mtc*
*.tdo
*.kilepr
*.pdf
*~*
*.log
*.out
*.aux
*.nav
*.ps
*.dvi
*.bak
*.spl
*.backup
*.bbl
*.blg
*.bcf
*.run.xml
*.snm
*.toc
*.directory
*.gz
.kile/*
*.swp
*.swo
Utilitaires/
*.png
*.shape
*.dat
*.txt
*.tab
